#out{
    height:100%;
    width:100%;
}
div{
    height:100%;
    width:10%;
    float:left;
}
.blue  { background-color:blue;  }
.green { background-color:green; }
.red   { background-color:red;   }